<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Repertoire de voitures!</h1>
    <a href="/info">Voir la liste de voitures</a>
  </body>
</html>
