extends layout

block content
  h1= "nomVoiture"
  p Welcome to 
  label(for="nomVoiture")
  input(type="text" name='nomVoiture')
  label(for="anneVoiture")
  input(type="text" name='anneVoiture') 
  label(for="modelVoiture")
  input(type="text" name='modelVoiture') 

